@import url('https://fonts.googleapis.com/css2?family=Anton&family=Open+Sans:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Open Sans, sans-serif;
    font-weight: 400;
}

/* header style */

header {
    background-color: white;
    height: 50px;
    position: relative
}

h1, h2 {
    text-transform: uppercase;
    font-family: Anton, Open Sans;
    font-weight: 400;
    color: white;
}

#title {
    float: left;
    margin-left: 10px;
    font-size: 160%;
    text-decoration-line: underline;
    position: absolute;
    bottom: 0;
    color: rgba(221, 69, 55, 1);
}

/* Inter-page Links */

#navigation {
    list-style-type: none;
    font-size: 120%;
    float: right;
}

#navigation li {
    font-family: Anton, Open Sans;
    display: inline-block;
    margin-top: 20px;
    margin-right: 150px;
}

#navigation a {
    text-decoration: none;
    color: rgba(221, 69, 55, 1);
}

#navigation a:hover {
    color: #36454f;
}

/* hero image */

#banner {
    height: 600px;
    width: 100%;
    background: url(../images/hero-image.jpg);
    background-repeat: no-repeat;
    position: relative;
}

#banner-text {
    font-size: 200%;
    color: whitesmoke;
    width: 270px;
    height: 210px;
    padding: 10px;

    background-color: rgba(221, 69, 55, 0.8);
    margin-top: 90px;
    margin-left: 60px;
    position: absolute; 
}