@import url('https://fonts.googleapis.com/css2?family=Anton&family=Open+Sans:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Anton, sans-serif;
}

h1, h2 {
    text-transform: uppercase;
    font-weight: 400;
    color: #f5f2e3;
}

h3, h4 {
    text-transform: uppercase;
    font-weight: 400;
    color: #f5f2e3;
}

/* header style */

header {
    background-color: white;
    height: 50px;
    position: relative;
}

#title {
    float: left;
    margin-left: 10px;
    font-size: 160%;
    text-decoration-line: underline;
    position: relative;
    margin-top: 12px;
    color: rgba(221, 69, 55, 1);
}

/* Inter-page Links */

#navigation {
    list-style-type: none;
    font-size: 120%;
    float: right;
}

#navigation li {
    font-family: Anton, Open Sans;
    display: inline-block;
    margin-top: 20px;
    margin-right: 150px;
}

#navigation a {
    text-decoration: none;
    color: rgba(221, 69, 55, 1);
}

#navigation a:hover {
    color: #36454f;
}

/* hero image */

#banner {
    height: 400px;
    width: 100%;
    background: url(../images/hero-image.jpg);
    background-repeat: no-repeat;
    position: relative;
}

#banner-text {
    font-size: 200%;
    color: #f5f2e3;
    width: 270px;
    height: 210px;
    padding: 10px;

    background-color: rgba(221, 69, 55, 0.8);
    margin-top: 30px;
    margin-left: 20px;
    position: absolute; 
}

#sub-text {
    text-transform: uppercase;
    font-size: 50%;
    margin-top: 90px;
    font-family: Anton, sans-serif;
}

/* current kings section */

#menu {
    height: 400px;
    font-size: 110%;
    }

#meat {
    border: solid;
    border-color: rgba(221, 69, 55, 0.8);
    border-width: 4px;
    width: 33%;
    height: 392px;
    float: left;
    margin-bottom: 4px;
    margin-left: 4px
}

#vegan {
    border: solid;
    border-color: rgba(221, 69, 55, 0.8);
    border-width: 4px;
    width: 33%;
    height: 392px;
    float: right;
    margin-bottom: 4px;
    margin-right: 4px;
}

#decide {
    border: solid;
    border-color: rgba(221, 69, 55, 0.8);
    border-width: 4px;
    width: 30%;
    height: 392px;
    margin: 0 auto;
    margin-top: 4px;
    text-decoration: none;
    background-color: rgba(221, 69, 55, 0.8);
}

#menu h1 {
    margin-top: 1px;
    margin-left: 4px;
}

#menu h3 {
    margin-top: 2px;
    margin-left: 4px;
    letter-spacing: 1px;
}

#menu p {
    margin-left: 4px;
    color: #f5f2e3;
    font-family: open sans, sans-serif;
}

/* footer */

footer {
    height: 70px;
    font-size: 160%;
    text-align: center;
    margin-top: 40px;
}

#footer {
    text-decoration: none;
    color: rgba(221, 69, 55, 1);
}
